*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/*  */
.logo{
    display: flex;
    justify-content: center;
    text-transform: uppercase;    
}


input[type='submit']{
    padding: 0.2em 1em;
    background-color: bisque;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.side-auth{
    position: absolute;
    right: 2em;
    top: 2em;
    display: flex;
    flex-direction: row;
    gap: 20px;
    float: right;
}

nav{
    position: absolute;
    left: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    text-transform: uppercase;
}


.history{
    display: flex;
    /* flex-direction: column; */
    position: absolute;
    top: 10em;
}